*{ font-family: 'Oxygen', sans-serif;}
nav { transition: 0.8s; }

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

#divShow {
	display: none;
}

#navbar { transition: 0.5s; }

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #03a9f4; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0288d1; 
}

.min_h { min-height: 0px; }
.overflow { overflow: hidden; }
.padd_text { padding-left: 10px;padding-right: 10px; }
.container { width: 90%; }
.strip { display: block;height:3px;width: 80px;  }
.center_m { margin: 0 auto; }
.padd_m { padding-top: 20px;padding-bottom: 20px; }
.loading { overflow: hidden;height: 100vh; }
.img_logo { height: 7.8em;width: 7.9em; }
.brand { display: block;width: 100%; }
.link_ { display: block;padding-top: 0.75em; }
.form_ { border-radius: 5px;padding: 10px;}
.blog_ { 
	margin-top: 3em;
}

/*.blog_:nth-child(even) { display: box; }*/
/*.sosialmed { float: center;}
*/
.parallax-container { height: 667px;margin-top: -64px; }
.parallax-container .section { 
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.parallax-container .section .container {
	padding-top: 180px;
}
.parallax-container .section .container p {
	width: 45%;
}
.parallax-container .section .container .btn-flat,#about .btn-flat,#blog .btn-flat {
	border : 1px solid #f5f5f5;
	border-radius: 4px;
}
.section .container .img_logo {
	display: block;
	margin: 0 auto;
}

.parallax-container .section .container .btn-flat:hover, #about .btn-flat:hover,#blog .btn-flat:hover {
	background-color: rgba(96,125,139,0.25);
}

#startup .row .korosel {
	border-radius: 10px;
	min-height: 300px;
	margin-bottom: 20px;
}

#startup .row .slider_
{
	width:100%;
}

#startup .row .slider_ .s6:first-child .btn-floating
{
	margin-right: 5em;
	float: right;
}

#startup .row .slider_ .s6:nth-child(2) .btn-floating
{
	margin-left: 5em;
	float: left;
}

.card { border-radius: 5px; }
.carousel { height: 450px; }

.carousel .carousel-item {
	height: 23em;
	width: 18em;
}

#dev .row,#foot .row { padding-top: 20px;padding-bottom: 30px; }
#dev .l4 { padding-top: 40px;padding-bottom: 20px;margin-top: 20px; }
#dev .s12,#foot .s12 { padding-top: 0px;padding-bottom: 20px; }
#dev .circle {
	height: 180px;
	width: 180px;
	clear: both;
}
#dev .zoom { transition: transform 0.5s; }
#dev .zoom:hover { transform: scale(1.06); }

.form_ .btn {
	margin-left: 1em;
}

@media only screen and (max-width: 600px)
{
	.parallax-container .section .container p {
		width: 60%;
	}

}